---
import '../../styles/global.css'
import Layout from '../../layouts/Layout.astro'
import HeroCarRentalPage from '../../components/sections/carrentalpage/HeroCarRentalPage.astro'
import WhatsIncludedSection from '../../components/sections/carrentalpage/WhatsIncludedSection.astro'
import AvailableVehicles from '../../components/sections/carrentalpage/AvailableVehicles.astro'
import PaymentTerms from '../../components/sections/carrentalpage/PaymentTerms.astro'
import SetupOrEmptySection from '../../components/sections/carrentalpage/SetupOrEmptySection.astro'
import BookNowSection from '../../components/sections/carrentalpage/BookNowSection.astro'
import Footer from '../../components/layout/Footer.astro'
import { getLangFromUrl, useTranslations } from '../../i18n'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)

export async function getStaticPaths() {
    return [
        { params: { locale: 'en' } },
        { params: { locale: 'de' } },
        { params: { locale: 'fr' } },
        { params: { locale: 'it' } },
    ]
}

const pageTitle = 'Car Rental | Prestige Travel Madagascar'
const pageDescription =
    'Authentic and naturalist tours in the southern region of Madagascar with Prestige Travel.'
---

<Layout title={pageTitle} description={pageDescription}>
    <main>
        <HeroCarRentalPage t={t} />
        <WhatsIncludedSection t={t}/>
        <AvailableVehicles t={t} />
        <PaymentTerms t={t} />
        <SetupOrEmptySection t={t} />
        <BookNowSection />
    </main>
    <Footer lang={lang} t={t} />
</Layout>
