---
import img1 from '../../../assets/images/home/trips_and_tours/southern_circuit.webp'
import img2 from '../../../assets/images/home/trips_and_tours/tsingy_de_bemaraha.webp'
import img3 from '../../../assets/images/home/trips_and_tours/tsiribihina.webp'
import img4 from '../../../assets/images/home/trips_and_tours/andasibe.webp'
import img5 from '../../../assets/images/home/trips_and_tours/sainte_marie.webp'
import img6 from '../../../assets/images/home/trips_and_tours/isalo.webp'
import img7 from '../../../assets/images/home/trips_and_tours/diego.webp'
import img8 from '../../../assets/images/home/trips_and_tours/tana.webp'
import img9 from '../../../assets/images/home/trips_and_tours/morondava.webp'
import { Image } from 'astro:assets'
import BookingButton from '../../common/BookingButton'
import reservationIcon from '../../../assets/icons/reservation.svg'

interface Props {
    t: (key: string) => string
}

const { t } = Astro.props as Props

const toursAndTrips = [
    {
        title: t('homePage.toursAndTripsSection.toursAndTripsList.title1'),
        subtitle: t(
            'homePage.toursAndTripsSection.toursAndTripsList.subtitle1'
        ),
        image: img1,
        link: '#!',
    },
    {
        title: t('homePage.toursAndTripsSection.toursAndTripsList.title2'),
        subtitle: t(
            'homePage.toursAndTripsSection.toursAndTripsList.subtitle2'
        ),
        image: img2,
        link: '#!',
    },
    {
        title: t('homePage.toursAndTripsSection.toursAndTripsList.title3'),
        subtitle: t(
            'homePage.toursAndTripsSection.toursAndTripsList.subtitle3'
        ),
        image: img3,
        link: '#!',
    },
    {
        title: t('homePage.toursAndTripsSection.toursAndTripsList.title4'),
        subtitle: t(
            'homePage.toursAndTripsSection.toursAndTripsList.subtitle4'
        ),
        image: img4,
        link: '#!',
    },
    {
        title: t('homePage.toursAndTripsSection.toursAndTripsList.title5'),
        subtitle: t(
            'homePage.toursAndTripsSection.toursAndTripsList.subtitle5'
        ),
        image: img5,
        link: '#!',
    },
    {
        title: t('homePage.toursAndTripsSection.toursAndTripsList.title6'),
        subtitle: t(
            'homePage.toursAndTripsSection.toursAndTripsList.subtitle6'
        ),
        image: img6,
        link: '#!',
    },
    {
        title: t('homePage.toursAndTripsSection.toursAndTripsList.title7'),
        subtitle: t(
            'homePage.toursAndTripsSection.toursAndTripsList.subtitle7'
        ),
        image: img7,
        link: '#!',
    },
    {
        title: t('homePage.toursAndTripsSection.toursAndTripsList.title8'),
        subtitle: t(
            'homePage.toursAndTripsSection.toursAndTripsList.subtitle8'
        ),
        image: img8,
        link: '#!',
    },
    {
        title: t('homePage.toursAndTripsSection.toursAndTripsList.title9'),
        subtitle: t(
            'homePage.toursAndTripsSection.toursAndTripsList.subtitle9'
        ),
        image: img9,
        link: '#!',
    },
]
---

<section
    id="tours"
    class="bg-pink-primary lg:px-24 px-6 lg:py-16 py-12 lg:space-y-12 space-y-8"
>
    <div class="flex lg:flex-row flex-col items-center justify-start gap-8">
        <div class="w-full lg:w-1/2 space-y-2">
            <p class="text-black font-bold lg:text-start text-center">
                {t('homePage.toursAndTripsSection.subtitle')}
            </p>
            <h1
                class="text-primary text-5xl font-bold lg:text-start text-center"
            >
                {t('homePage.toursAndTripsSection.title')}
            </h1>
        </div>
        <div class="w-full lg:w-1/2">
            <p class="text-black/70 lg:text-end text-center">
                {t('homePage.toursAndTripsSection.description')}
            </p>
        </div>
    </div>
    <div class="grid grid-cols-1 lg:grid-cols-3 lg:gap-12 gap-4">
        {
            toursAndTrips.map(({ title, subtitle, image }) => (
                <div class="flex flex-col items-center justify-start gap-4 p-6">
                    <Image
                        src={image}
                        alt={title}
                        class="w-full h-auto transition-transform duration-300 ease-in-out transform hover:scale-105 hover:opacity-90 cursor-pointer"
                    />
                    <h4 class="font-semibold text-lg text-black">{title}</h4>
                    <p class="text-center text-black/70">{subtitle}</p>
                </div>
            ))
        }
    </div>

    <div class="flex lg:justify-start justify-center lg:ml-8">
        <BookingButton
            label={t('homePage.toursAndTripsSection.contactUsButton')}
            icon={reservationIcon.src}
            iconAlt="Reservation icon"
            href="/#contact"
        />
    </div>
</section>
