---
import { Image } from 'astro:assets'
import terracan from '../../../assets/images/home/terracan.webp'
import baobabAndWay from '../../../assets/images/home/baobab_and_way.webp'
import prestigeMountains from '../../../assets/images/home/prestige_and_mountains.webp'
import cameleon from '../../../assets/images/home/cameleon.webp'
import baobabAndSun from '../../../assets/images/home/baobab_and_sun.webp'
import serpent from '../../../assets/images/home/serpent.webp'
import baobabAndWater from '../../../assets/images/home/baobab_and_water.webp'
---

<section id="" class="bg-white lg:px-24 px-6 py-16 space-y-6">
    <div class="lg:w-[60%] w-full space-y-4">
        <p class="text-black font-bold lg:text-start text-center">
            Discover Madagascar Through Our Lens
        </p>
        <h1 class="text-primary text-5xl font-bold lg:text-start text-center">
            Gallery
        </h1>
        <p class="text-black/70 lg:text-start text-center">
            A journey begins with a single image. Explore the stunning landscapes, unique wildlife, vibrant culture, and memorable moments captured during our real tours across southern Madagascar.
        </p>
    </div>
    <div class="flex lg:flex-row flex-col items-start gap-4">
        <div class="lg:space-y-6 space-y-4">
            <Image
                src={terracan}
                alt="Terracan Prestige Travel"
                class="w-full h-full object-contain"
                fetchpriority="high"
            />
            <Image
                src={baobabAndWay}
                alt="Baobab prestige travel"
                class="w-full h-full object-contain"
                fetchpriority="high"
            />
        </div>
        <div class="lg:space-y-2 space-y-1">
            <Image
                src={prestigeMountains}
                alt="serpent prestige travel"
                class="w-full h-full object-contain"
                fetchpriority="high"
            />
            <Image
                src={cameleon}
                alt="serpent prestige travel"
                class="w-full h-full object-contain"
                fetchpriority="high"
            />
            <Image
                src={baobabAndSun}
                alt="serpent prestige travel"
                class="w-full h-full object-contain"
                fetchpriority="high"
            />
        </div>
        <div class="lg:space-y-6 space-y-4">
            <Image
                src={serpent}
                alt="serpent prestige travel"
                class="w-full h-full object-contain"
                fetchpriority="high"
            />
            <Image
                src={baobabAndWater}
                alt="Baobab prestige travel"
                class="w-full h-full object-contain"
                fetchpriority="high"
            />
        </div>
    </div>
</section>
